<ul class="breadcrumb" style="margin-bottom: 4px;">
    <li class="active">用户管理</li>
</ul>
<div class="btn-group">
    
    <button id="add" class="btn btn-default">新增</button>
    <button id="edit" class="btn btn-default">修改</button>
    <button id="delete" class="btn btn-default">删除</button>
    <button class="btn btn-default">查询</button>
</div>
<div style="margin-top: 2px; height: 400px;">
    <table id="usertable1" class="table table-condensed"></table>
</div>
<script src="__APP__/js/users/index.js"></script>
