<!DOCTYPE>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache">  
	<#include file='/public2.html' />
</head>

<body  >
    <div style="height: 100px;"></div>
    <div style="margin-left: auto; margin-right: auto; width: 350px">
    <div class="panel panel-primary">
	<div class="panel-heading">登录</div>
	<div class="panel-body">	
   	
    <form id='loginform' action="/Check" method="post">

        <table style="width:100%;">
 

            <tr>
                <td width=60 >用户名</td>
                <td>
                    <div class="col-md-12" style="margin: 4px">
                        <input type="text" class="form-control"  name="username" id="username"
                               value="#{username}" placeholder="" /> 
                    </div>
                </td>
            </tr>
            <tr>
                <td>密码</td>
                <td>
                    <div class="col-md-12" style="margin: 4px">
                        <input type="password" class="form-control"  id="pwd"
                               name="pwd" value="#{pwd}" placeholder="" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>验证码</td>
                <td>
                    <div class="col-md-12" style="margin: 4px;height:40px;">
					<img src="/checknum">
                    </div>
                </td>
            </tr>			
            <tr></tr>
            <tr>

                <td colspan="2">
                    <div style="float: left; line-height: 45px;margin-left: 20px;">
                        <input type="checkbox" name="setpwd" id="setpwd" checked="checked" />
                        <label for="setpwd">记住密码</label>
                    </div>
                    <div style="float: right; text-align: right; margin-right: 20px; margin-top: 4px;">
                        <input type="submit" class="btn btn-success" value="登录" style="width:80px;" />
                    </div>
                </td>
            </tr>
		
        </table>

         </form>
        </div>
    </div>
    </div>
			<div style="text-align:center;">测试帐户  username:admin pwd:admin</div>
	<script type="text/javascript" src='/js/login/login.js'></script>
</body>
</html>
