<script type="text/javascript" src="__APP__/assest/btable/bootstrap-table.min.js"></script>
<script type="text/javascript" src="__APP__/assest/btable/locale/bootstrap-table-zh-CN.js"></script>
<script type="text/javascript" src="__APP__/assest/vendor/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__APP__/assest/validation/js/formValidation.min.js"></script>
<script type="text/javascript" src="__APP__/assest/validation/js/language/zh_CN.js"></script>
<script type="text/javascript" src="__APP__/assest/validation/js/framework/bootstrap.min.js"></script>
<script type="text/javascript" src="__APP__/assest/confirm/jquery-confirm.min.js"></script>
<script type="text/javascript" src="__APP__/assest/icheck/icheck.min.js"></script>
<script type="text/javascript" src="__APP__/assest/bootstrap/bootstrap-dialog.min.js"></script>
<script type="text/javascript" src="__APP__/assest/bootstrap/respond.min.js"></script>
<script type="text/javascript" src="__APP__/assest/fun.js"></script>