<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>DelphiWebMVC</title>
		<link rel="stylesheet" href="__APP__/assets/css/layui.css">
		<link rel="stylesheet" href="__APP__/assets/css/main.css">
		<script src="__APP__/assets/layui.all.js"></script>
		<script src="__APP__/assets/echarts.min.js"></script>

	</head>

	<body class="layui-layout-body">
		<div class="layui-layout layui-layout-admin">
			<div class="layui-header">
				<div class="layui-logo">管理平台</div>
				<!-- 头部区域（可配合layui已有的水平导航） -->

				<ul class="layui-nav layui-layout-right">
					<li class="layui-nav-item">
						<a href="javascript:;">							
							#{realname}
						</a>
						<dl class="layui-nav-child">
							<dd><a href="">基本资料</a></dd>
							<dd><a href="">安全设置</a></dd>
						</dl>
					</li>
					<li class="layui-nav-item"><a href="__APP__/">退出</a></li>
				</ul>
			</div>

			<div class="layui-side layui-bg-black">
				<div class="layui-side-scroll">
					<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
					<ul class="layui-nav layui-nav-tree" lay-filter="test">
						<#list data=menuls item=i>
							<li class="layui-nav-item"><a id="__APP__#{i.url}" href="javascript:;" onclick="load(this.id)">#{i.menuname}</a></li>
						</#list>

					</ul>
				</div>
			</div>

			<div class="layui-body">
				<!-- 内容主体区域 -->
				<div style="padding: 10px;" id="_content_">

				</div>
			</div>

		</div>
		<script src="__APP__/js/index.js"></script>
		<script src="__APP__/assets/js/jquery-1.11.0.min.js"></script>
	</body>

</html>
