<meta http-equiv="X-UA-Compatible" />
<link rel="stylesheet" href="/assest/btable/bootstrap-table.min.css">
<link rel="stylesheet" href="/assest/css/default.css" />
<link rel="stylesheet" href="/assest/icheck/skins/all.css" />
<link rel="stylesheet" href="/assest/vendor/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/assest/bootstrap/bootstrap-dialog.min.css">
<link rel="stylesheet" href="/assest/validation/css/formValidation.min.css" />
<link rel="stylesheet" href="/assest/confirm/jquery-confirm.min.css" />

<script type="text/javascript" src="/assest/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/assest/btable/bootstrap-table.min.js"></script>
<script type="text/javascript" src="/assest/btable/locale/bootstrap-table-zh-CN.js"></script>
<script type="text/javascript" src="/assest/vendor/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assest/validation/js/formValidation.min.js"></script>
<script type="text/javascript" src="/assest/validation/js/language/zh_CN.js"></script>
<script type="text/javascript" src="/assest/validation/js/framework/bootstrap.min.js"></script>
<script type="text/javascript" src="/assest/confirm/jquery-confirm.min.js"></script>
<script type="text/javascript" src="/assest/icheck/icheck.min.js"></script>
<script type="text/javascript" src="/assest/bootstrap/bootstrap-dialog.min.js"></script>
<script type="text/javascript" src="/assest/bootstrap/respond.min.js"></script>

<script type="text/javascript" src="/assest/fun.js"></script>




