<div style="height:300px;">

    <input id="file-zh" name="file-zh[]" type="file" multiple>
</div>
<script>
    $('#file-zh').fileinput({
        language: 'zh',
        uploadUrl: '/caiwu/upfile',        
        allowedFileExtensions : ['doc', 'docx','xls','xslx','zip'],
        // uploadAsync: true, //默认异步上传
        // showUpload: true, //是否显示上传按钮
        // showRemove : true, //显示移除按钮
        // showPreview : true, //是否显示预览
        // showCaption: false,//是否显示标题
       // browseClass: "btn btn-primary", //按钮样式
        //dropZoneEnabled: true,//是否显示拖拽区域
        //minImageWidth: 50, //图片的最小宽度
        //minImageHeight: 50,//图片的最小高度
        //maxImageWidth: 1000,//图片的最大宽度
        //maxImageHeight: 1000,//图片的最大高度
    //    maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
        //minFileCount: 0,
        //maxFileCount: 10, //表示允许同时上传的最大文件个数
       // enctype: 'multipart/form-data',
      //  validateInitialCount:true,
     //   previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
     //   msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
        maxFileSize: 1024,
        maxFileCount: 2 //表示允许同时上传的最大文件个数
        }        
    ).on("fileuploaded", function(event, data, previewId, index) {
        toastr.info(data.response.message); 
    });
 
</script>