<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<title>DelphiWebMVC</title>
	<link rel="stylesheet" href="__APP__/assets/css/layui.css">		
	<script src="__APP__/assets/layui.all.js"></script>
</head>
<style>a{ text-decoration:none}</style>
<body style="text-align: center;">
	<div style="margin-top: 10px;"></div>
	<h1>Welcome DelphiWebMVC</h1>
	<image src="/image/logo.png" style="width: 250px;height:250px;"></image>
	<div style="width: 390px;text-align: left;margin-left: auto;margin-right: auto;">
		<ul>
			<li>源码地址：<a href="https://gitee.com/pearroom/DelphiWebMVC" >https://gitee.com/pearroom/DelphiWebMVC</a></li>
			<li>安装指南：<a href="https://my.oschina.net/delphimvc/blog/1581715">https://my.oschina.net/delphimvc/blog/1581715</a></li>
			<li>我的博客：<a href="https://my.oschina.net/delphimvc">https://my.oschina.net/delphimvc</a></li>
			<li>相关视频：<a href="https://my.oschina.net/delphimvc/blog/4291418">https://my.oschina.net/delphimvc/blog/4291418</a></li>
			<li>开发手册：<a href="http://129.211.87.47/doc/help.html">http://129.211.87.47/doc/help.html</a></li>
			<li>案例赏析：<a href="http://129.211.87.47:8004/">http://129.211.87.47:8004/</a></li>
		</ul>
	</div>
	<#if #{kk} gt 10 and #{dd} eq 'ok' and #{data.name} eq '你好'>
	 <h1>hello</h1>
	 <#else>
	 <h1>no hello</h1>
	</#if>
	#{data}
	<div>#{data.name}</div>
	<div>#{data.sex}</div>
	<div>#{data.idcard}</div>
    <div style="margin-top: 10px;"></div>
	<p></h1><h1>#{msg}</h1></p>
	<div style="margin-top: 10px;"></div>
	<p><a class="layui-btn" href="login">进入系统演示</a> </p>
</body>


</html>