<html>
<title>DelphiWebMVC</title>
<link rel="stylesheet" href="/assest/layui-v2.4.5/css/layui.css">
<div style="text-align:center; width:80%; margin-left: auto;margin-right: auto;">
    <div style="margin-top: 90px;">
        <h1>Welcome to DelphiWebMVC</h1>
    </div>
    <div style="margin-top:30px;">
            <h4>让世界知道delphi开发web一样很强</h4>
      </div>    
    <div style="margin-top:50px;">
        <a class="layui-btn" href="main">DelphiWebMVC1.0+LayUI</a>
    </div>
    <div style="margin-top:10px;">
        <a class="layui-btn" href="https://www.layui.com/">LayUI官网</a>
    </div>
</div>


</html>