<html>
<head>
  <meta charset="utf-8">
  <#include file=/public.html>  
  <link rel="stylesheet" href="/assest/layui-v2.4.5/css/layui.css"> 
  <title>后台布局</title>  
 
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">layui 后台布局</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="">控制台</a></li>
      <li class="layui-nav-item"><a href="">商品管理</a></li>
      <li class="layui-nav-item"><a href="">用户</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;">其它系统</a>
        <dl class="layui-nav-child">
          <dd><a href="">邮件管理</a></dd>
          <dd><a href="">消息管理</a></dd>
          <dd><a href="">授权管理</a></dd>
        </dl>
      </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
          贤心
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="">退了</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">所有商品</a>
          <dl class="layui-nav-child">
            <dd><a id="menu1" href="javascript:;" onclick="load(this.id)">列表一</a></dd>
            <dd><a id="menu2" href="javascript:;" onclick="load(this.id)">列表二</a></dd>
            <dd><a id="menu3" href="javascript:;" onclick="load(this.id)">列表三</a></dd>
            <dd><a id="menu4" href="javascript:;" onclick="load(this.id)">超链接</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">解决方案</a>
          <dl class="layui-nav-child">
            <dd><a id="menu5" href="javascript:;" onclick="load(this.id)">列表一</a></dd>
            <dd><a id="menu6" href="javascript:;" onclick="load(this.id)">列表二</a></dd>
            <dd><a id="menu7" href="javascript:;" onclick="load(this.id)">超链接</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item"><a href="">云市场</a></li>
        <li class="layui-nav-item"><a href="">发布商品</a></li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;" id="_content_">
	模块显示区
	</div>
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © layui.com - 底部固定区域
  </div>
</div>
<script>
//JavaScript代码区域
function load(url){
	$("#_content_").load(url);
}
</script>

</body>
<script type="text/javascript" src="/assest/layui-v2.4.5/layui.all.js"></script> 

</html>