	<script type="text/html" id="barbut">
		<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="show">菜单</a>
		<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">编辑</a>
		<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>            
	</script>
	<script type="text/html" id="barbut1">
		<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del1">删除</a>            
	</script>

<body class="layui-view-body">
	<div style="width:40%; float:left;">
		<div>
			<button class="layui-btn" lay-submit="" id="btnadd">新增权限</button>
		</div>
		<table class="layui-hide" id="tbrole" lay-filter="tbrole"></table>
	</div>
	<div style="width:59%;float:right;">
		<div>
			<button class="layui-btn" style="display: none;" id="btnaddmenu">新增菜单</button>
		</div>
		<table class="layui-hide" id="tbmenu" lay-filter="tbmenu"></table>
	</div>

	<script src="__APP__/js/role/index.js"></script>
	<script src="__APP__/js/role/menu.js"></script>
</body>
